<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="alert alert-success">Đặt hàng thành công</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <a asp-controller="Home" asp-action="Index" class="btn btn-success">Continue Shopping</a>
            </div>
        </div>
    </div>
</section>

